# ED070EC1 display controller configuration options

# Copyright (c) 2024 Emcraft Systems
# SPDX-License-Identifier: Apache-2.0

config ED070EC1
	bool "ED070EC1 compatible display controller driver"
	default y
	depends on \
		DT_HAS_SOLOMON_ED070EC1_ENABLED
	select SPI
	help
	  Enable driver for ED070EC1 compatible controller.
